{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <p>Name <input type="text" name="name" value="{{ form.name }}"></p>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}